.home-categories-list-section{
padding-top: 92px;
padding-bottom: 120px;
@include tablet{
    padding-top: 160px;
    padding-bottom: 96px;
}
@include desktop{
    padding-top: 200px;
    padding-bottom: 168px;
}
}