.headphones-page-site-description-section{
    padding-bottom: 120px;
    @include desktop{
        padding-bottom: 160px;
    }
}

.headphones-page-site-categories-list-section{
    padding-bottom: 120px;
       @include desktop{
        padding-bottom: 160px;
    }
}