.checkout-field {
  width: 100%;
  height: 100%;
 
}

.checkout-field-input{
   width: 100%;
  height: 56px;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  margin-top: 9px;
   color: $primaryBlack;
  font-family: $fontFamily;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: -0.25px;
  padding: 24px 18px;
  outline: none;
  transition: 500ms;
  transition-property: border-color;
  &:hover,
  &:focus {
    border-color: $primaryOrange;
  }
}