.also-like-list{
    display: flex;
    flex-direction: column;
   
}

.also-like-list-title{
    color: $primaryBlack;
    text-align: center;
    margin-bottom: 40px;
    @include tablet{
        margin-bottom: 56px;
    }
    @include desktop {
        margin-bottom: 64px;
    }
}

.also-like-list{
    @include tablet{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}

.also-like-list-item{
    margin-bottom: 56px;
    &:last-of-type{
        margin-bottom: 0;
    }
    @include tablet{
        margin-bottom: 0;
    }
}

.also-like-list-item-picture-container{
    width: 100%;
    height: 120px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primaryGray;
    margin-bottom: 32px;
    @include tablet{
        margin-bottom: 40px;
        width: 223px;
        height: 318px;
    }
    @include desktop{
        width: 350px;
        height: 318px;
    }
}

.also-like-list-item-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.also-like-list-item-title{
    color: $primaryBlack;
    text-align: center;
    width: 200px;
    height: 60px;
    margin-bottom: 32px;
}