.checkout-page {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  padding-top: 16px;
  padding-bottom: 97px;
  @include tablet {
    padding-top: 48px;
    padding-bottom: 116px;
  }
  @include desktop {
    padding-top: 79px;
    padding-bottom: 141px;
  }
}

.checkout-container {
  border-radius: 8px;
  background-color: $primaryWhite;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 32px;
  padding-top: 24px;
  padding-bottom: 31px;
  padding-left: 24px;
  padding-right: 24px;
  @include tablet {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 28px;
    padding-right: 28px;
  }
  @include desktop {
    padding-top: 54px;
    padding-bottom: 48px;
    margin-top: 38px;
    padding-left: 48px;
    padding-right: 48px;
    width: 730px;
  }
}

.checkout-container-title {
  font-family: $fontFamily;
  font-weight: 700;
  color: $primaryBlack;
  line-height: 38px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 32px;
  @include tablet {
    margin-bottom: 41px;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.14px;
  }
}

.checkout-page-fields-title {
  margin-bottom: 16px;
  color: $primaryOrange;
}

.checkout-field-label {
  display: flex;
  flex-direction: column;
  color: $primaryBlack;
  font-family: $fontFamily;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.21px;
}

.billing-details-fields-container {
  display: grid;
  row-gap: 24px;
  margin-bottom: 32px;
  grid-template-columns: 280px;
  grid-template-rows: 81px;
  @include tablet {
    margin-bottom: 53px;
    grid-template-columns: 309px 309px;
    grid-template-rows: 81px 81px;
    column-gap: 16px;
    :nth-child(3) {
      grid-row: 2 / 2;
    }
  }
}

.shipping-info-fields-container {
  display: grid;
  row-gap: 24px;
  grid-template-columns: 280px;
  grid-template-rows: 81px;
  margin-bottom: 32px;
  @include tablet {
    margin-bottom: 61px;
    grid-template-columns: 309px 309px;
    grid-template-rows: 81px 81px 81px;
    column-gap: 16px;
    :nth-child(1) {
      grid-column: 1/3;
    }
    :nth-child(2) {
      grid-row-start: 2;
      grid-row-end: 2;
    }
    :nth-child(3) {
      grid-row-start: 2;
      grid-row-end: 2;
    }
    :nth-child(4) {
      grid-row-start: 3;
      grid-row-end: 3;
    }
  }
}

.payment-method-container{
  @include tablet{
    display: flex;
    justify-content: space-between;
  }
}


.payment-details-fields-label{
  color: $primaryBlack;
  font-family: $fontFamily;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.21px;
  @include tablet{
    margin-bottom: 0px;
  }
}