.home-categories-list-section{
    height: 100%;
padding-top: 92px;
padding-bottom: 120px;
@include tablet{
    padding-top: 160px;
    padding-bottom: 96px;
}
@include desktop{
    padding-top: 200px;
    padding-bottom: 168px;
}
}

.home-products-section{
    padding-bottom: 120px;
    @include tablet{
        padding-bottom: 96px;
    }
    @include desktop{
        padding-bottom: 200px;
    }
}

.home-site-description-section{
padding-bottom: 120px;
@include tablet{
    padding-bottom: 96px;
}
@include desktop{
    padding-bottom: 200px;
}
}