$fontFamily: Manrope;

.H1-manrope-bold {
  font-family: $fontFamily;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 1.286px;
  text-transform: uppercase;
  @include tablet {
    font-size: 56px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 2px;
  }
}

.H2-manrope-bold {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;

  @include tablet {
    font-family: $fontFamily;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 2px;
  }
}

.H3-manrope-bold {
  font-size: 24px;
  letter-spacing: 1.714px;
  font-family: $fontFamily;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  @include tablet {
    font-size: 32px;
    letter-spacing: 1.143px;
  }
}

.H4-manrope-bold {
  font-family: $fontFamily;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.H5-manrope-bold {
  font-family: $fontFamily;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  @include desktop {
    font-size: 24px;
    letter-spacing: 1.714px;
  }
}

.H6-manrope-bold {
  font-family: $fontFamily;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.071px;
  text-transform: uppercase;
  @include desktop {
    font-size: 18px;
    letter-spacing: 1.286px;
  }
}

.Overline-manrope-regular {
  font-family: $fontFamily;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.Sub-title-manrope-bold {
  font-family: $fontFamily;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.929px;
  text-transform: uppercase;
}

.Body-manrope-medium {
  font-family: $fontFamily;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}
