.add-to-cart-button {
  width: 160px;
  height: 48px;
  background-color: $primaryOrange;
  margin-left: 16px;
  color: $primaryWhite;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: 500ms;
  transition-property: background-color;
  &:hover,
  &:focus {
    background-color: $secondaryOrange;
  }
}

.add-to-cart-button-loader {
  position: relative;
  width: 160px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  div{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
}

