.hero {
  background-color: #0e0e0e;
  width: 100%;
  padding-top: 108px;
  padding-bottom: 108px;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  @include tablet {
    padding-top: 126px;
    padding-bottom: 126px;
  }
  @include desktop {
    padding-top: 128px;
    padding-bottom: 128px;
    text-align: start;
    justify-content: flex-start;
  }
}

.hero-container {
  animation: showText 1s 1;
  animation-delay: 1.5s;
  opacity: 0;
  animation-fill-mode: forwards;
  @keyframes showText {
    0% {
      transform: translateY(-10%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  position: relative;
  z-index: 3;
  height: 250px;
  @include tablet {
    height: 288px;
  }
  @include desktop {
    height: 346px;
  }
}

.hero-new-product-text {
  color: $primaryWhite;
  opacity: 0.4964;
  margin-bottom: 16px;
  @include tablet {
    margin-bottom: 24px;
  }
}

.hero-new-product-title {
  color: $primaryWhite;
  margin-bottom: 24px;
  @include tablet {
    width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
  @include desktop {
    margin-left: 0;
    margin-right: 0;
  }
}

.hero-new-product-description {
  color: $primaryWhite;
  margin-bottom: 28px;
  opacity: 0.75;
  @include tablet {
    width: 349px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  @include desktop {
    margin-left: 0;
    margin-right: 0;
  }
}

.hero-new-product-picture {
  animation: show 1s 1;
  animation-delay: 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;
  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.7;
    }
  }
  position: absolute;
  top: -35px;
   right: 50%;
    transform: translateX(50%);
  @include desktop {
    top: 10px;
    right: 0;
    transform: translateX(0);
  }
}

.hero-loader {
  height: 250px;
  display: flex;
  justify-content: center;
  @include tablet {
    height: 288px;
  }
  @include desktop {
    height: 346px;
  }
}

.hero-categories {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  @include tablet {
    padding-top: 105px;
    padding-bottom: 97px;
  }
  @include desktop {
    padding-top: 98px;
    padding-bottom: 97px;
  }
}

.hero-categories-title{
  color: $primaryWhite;
}