.cart-content {
  width: 327px;
  border-radius: 8px;
  padding: 28px 32px;
  position: absolute;
  top: 114px;
  right: 50%;
  transform: translateX(50%);
  background-color: $primaryWhite;
  z-index: 10;
  @include tablet {
    width: 377px;
    padding: 33px 32px;
    right: -10px;
    transform: translateX(0);
  }
  @include desktop {
    top: 129px;
  }
}

.cart-container {
  transition: 500ms;
  transition-property: opacity;
  top: 0;
  right: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.cart-container-open {
  display: block;
}

.cart-container-close {
  pointer-events: none;
  display: none;
}

.cart-head-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 31px;
}

.empty-cart-container {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    margin-left: 15px;
    width: 25px;
    height: 25px;
  }
}

.cart-title {
  color: $primaryBlack;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.286px;
  text-transform: uppercase;
}

.cart-remove-all-button {
  color: $primaryBlack;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration-line: underline;
  opacity: 0.5;
  transition: 500ms;
  transition-property: color;
  &:hover,
  &:focus {
    color: $primaryOrange;
  }
}

.cart-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;

  border: none;
  background-color: transparent;
  svg {
    width: 25px;
    height: 25px;
    transition: 500ms;
    transition-property: color;
  }
  svg:hover,
  svg:focus {
    color: $primaryOrange;
  }
}

.cart-list {
  margin-bottom: 32px;
}

.cart-list-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.cart-list-item-nav-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  .cart-item-price {
    position: relative;
  }
  .cart-item-price:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $primaryOrange;
    content: "";
    transition: width 0.5s ease-out;
  }
}

.cart-list-item-nav-button:hover,
.cart-list-item-nav-button:focus {
  .cart-item-price:after {
    width: 100%;
  }
}

.cart-list-item-picture-container {
  width: 84px;
  height: 84px;
  background-color: $primaryGray;
  border-radius: 8px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include tablet {
    margin-right: 16px;
  }
}

.cart-item-picture {
  width: 65px;
  height: 65px;
}

.cart-item-name {
  font-family: $fontFamily;
  color: $primaryBlack;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  width: 100px;
}

.cart-item-price {
  color: $primaryBlack;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  opacity: 0.5;
}

.cart-total-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.cart-total-title {
  text-transform: uppercase;
  color: $primaryBlack;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  opacity: 0.5;
}

.cart-total {
  color: $primaryBlack;
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.cart-quantity-buttons-container {
  width: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 40px;
  @include tablet {
    width: 113px;
  }
}

.cart-quantity-button {
  width: 40px;
  height: 100%;
  background-color: $primaryGray;
  border: none;
  color: rgba(0, 0, 0, 0.25);
  text-align: center;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 500ms;
  transition-property: color;
  &:hover,
  &:focus {
    color: $primaryOrange;
  }
}

.cart-quantity-button-disabled{
  cursor: default;
   background-color: $primaryGray;
  width: 40px;
  height: 100%;
  border: none;
}


.cart-quantity-text {
  background-color: $primaryGray;
  height: 100%;
  width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primaryBlack;
  text-align: center;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}


.cart-list-item-remove-from-cart-button{
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  svg{
    width: 18px;
    height: 18px;
    transition: 500ms;
    transition-property: fill;
    &:hover,
    &:focus{
      fill: $primaryOrange;
    }
  }
}

.cart-error-message{
   color: #cd2c2c;
  font-family: $fontFamily;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.21px;
  margin-top: 3px;
  position: absolute;
  width: 296px;
}