.categories-products-list-section {
  padding-bottom: 172px;
  padding-top: 64px;
  @include tablet {
    padding-top: 120px;
  }
  @include desktop {
    padding-top: 160px;
    padding-bottom: 240px;
  }
}

.categories-products-list-section-loading{
width: 100vh;
height: 2000px;
}


.categories-products-list-site-description-section{
    padding-bottom: 120px;
    @include desktop{
        padding-bottom: 160px;
    }
}

.categories-products-list-site-categories-list-section{
    padding-bottom: 120px;
       @include desktop{
        padding-bottom: 160px;
    }
}