.categories-products-list-section {
  padding-bottom: 172px;
  padding-top: 64px;
  @include tablet {
    padding-top: 120px;
  }
  @include desktop {
    padding-top: 160px;
    padding-bottom: 240px;
  }
}

.categories-products-list-section-loading{
width: 100%;
height: 1000px;
display: flex;
padding-top: 150px;
justify-content: center;
}


.categories-products-list-site-description-section{
padding-bottom: 120px;
@include tablet{
    padding-bottom: 96px;
}
@include desktop{
    padding-bottom: 200px;
}
}

.categories-products-list-site-categories-list-section{
    padding-bottom: 120px;
       @include desktop{
        padding-bottom: 160px;
    }
}